<div class="row" id="footer">
    <div class="col-sm-4 col-left">
        <div class="row">
            <a class="header-text"
               href="http://www.facebook.com/thecommonsforall"
               target="_blank">
                <i class="icon-facebook-squared"></i>
                Facebook
            </a>
        </div>
        <div class="row">
            <a class="header-text"
               href="http://vimeo.com/thecommonsforall"
               target="_blank">
                <i class="icon-vimeo-squared"></i>
                Vimeo
            </a>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <a class="header-text"
               href="mailto:info@thecommonsforall.com"
               target="_blank">
                <i class="icon-mail-squared"></i>
                info@thecommonsforall.com
            </a>
        </div>
    </div>
    <div class="col-sm-4 col-middle hidden-xs">
        <div>
            <img src="{{ asset('bundles/thecommonshomepage/img/tc-logo.svg') }}"/>
        </div>
    </div>
    <div class="col-sm-4 col-right hidden-xs">
        <div class="row">
            <p class="header-text">
                Proclaim The Cross
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Cultivate Disciples
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Join the Movement
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Embrace the Oppressed
            </p>
        </div>
    </div>
</div>