<div id="give" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header-text">
                <button type="button" class="close"
                        data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Give Online</h4>
            </div>
            <div class="modal-body invert-text">
                <p>God doesn't need our money. What he's truly after is us.
                    Yet, how we use money is a very accurate indicator of
                    where our heart is and what we value. Jesus said, "Where
                    your
                    treasure is, there your heart will be also" (Matthew
                    6:21).
                    Giving is an act of worship and an act of commitment; to
                    the community of believers, and those in need.</p>

                <form action="https://www.paypal.com/cgi-bin/webscr"
                      method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id"
                           value="8R6U9JME5YUEY">
                    <button class="btn btn-lg btn-warning" type="submit">
                        Give via PayPal
                    </button>
                </form>

                <p class="small paypal-footer">
                    You do not need a PayPal account to give online
                    today. You can securely give via PayPal using
                    <img src="{{ asset('bundles/thecommonshomepage/img/AM_mc_vs_dc_ae.jpg') }}"
                         class="paypal-methods">
                </p>
            </div>
        </div>
    </div>
</div>