<div class="row intro-bg" id="home">
    <div class="col-sm-12 no-pad">
        <div class="row logo-tag-row hidden-xs">
            <div class="col-sm-6 logo-tag-cell no-pad">
                <p class="mission-text mission-text-top">
                    Proclaim the Cross
                </p>
            </div>
            <div class="col-sm-6 text-right no-pad">
                <p class="mission-text mission-text-top text-right">
                    Join the Movement
                </p>
            </div>
        </div>
        <div class="row logo-img-row">
            <div class="col-sm-12 logo-img-cell
                        text-center no-pad middle-parent">
                <div class="middle">
                    <img class="logo-img"
                         src="{{ asset('bundles/thecommonshomepage/img/tc-logo-gold.svg') }}"/>
                </div>
            </div>
        </div>
        <div class="row logo-tag-row hidden-xs">
            <div class="col-sm-6 logo-tag-cell no-pad">
                <p class="mission-text mission-text-bottom">
                    Cultivate Disciples
                </p>
            </div>
            <div class="col-sm-6 text-right logo-tag-cell no-pad">
                <p class="mission-text mission-text-bottom text-right">
                    Embrace the Oppressed
                </p>
            </div>
        </div>
    </div>
</div>