<div class="row" id="mission">
    <div class="col-sm-6">
        <p class="header-text">
            <i class="icon icon-commons-mission">
            </i>
        </p>

        <p class="header-text">
            Our Mission
        </p>

        <p class="body-text">
            The Commons is a community conspiring to proclaim
            the cross, working to cultivate disciples, embracing
            the oppressed, and inviting you to join the
            movement.
        </p>

        <p class="header-text">
            Our History
        </p>

        <p class="body-text">
            The Commons (formerly Hope Church North Park) began
            in 2011 with just a few people meeting in a living
            room. We were passionate about Jesus and
            passionate about seeing local, kingdom oriented,
            churches planted. So, with the help and support
            of another San Diego church that shared our
            vision, we began meeting publicly in 2012.
            Since then, we have continued to grow
            by establishing Elders and baptizing new
            disciples as we persist in serving our community
            and inviting all to join God's movement.
        </p>
        <!--
        <p class="header-text">
            Why are we called The Commons?
        </p>
        <p>
            It was a mark of the church for people to hold their
            lives and their possessions in common. We read one
            examples of this in the book of Acts. There is even
            this tradition within the history of the Church for
            naming something for all people, a "common." (Common
            Book of Prayer, Common Bible, Common Text of the
            Church)
        </p>
        <p>
            Therefore, we wanted to select a name for our
            community that not only spoke to our mission, our
            identity in Christ, but also one that had historical
            significance.
            Church)
        </p>
        <p>
            For something to be "common" was not to be ordinary,
            but to belong to the people. For something to be a
            "commons" was to represent a common space or
            resource that was of the people.
            Church)
        </p>
        <p>
            Now, our culture has lost the language and meaning
            of a "commons." Physical space and common resources
            are increasingly quantified and commercialized. We
            might not call them "commons", yet, parks, beaches,
            playgrounds, public utilities and public
            transportation systems, libraries, museums, and
            schools are all "commons."
            Church)
        </p>
        <p>
            The church is a commons. The church is not a private
            enterprise, but a public work. The church is the
            Body of Christ, its work is to witness to the Cross,
            and its worship is the work of the people. The
            church is not a private good to be packaged and
            sold. The church is not a commodity, or institution.
            The church is collective, a band of natural enemies
            not held together not by common race, education,
            income, or politics. The church is a band of natural
            enemies saved by Jesus, owing Jesus a common
            allegiance.
            Church)
        </p>
        <p>
            Christ, his broken body and shed blood, is at the
            center of all we do together. We gather because we
            hold a common allegiance to Christ. We gather for
            the common work of making Christ, His Cross, and His
            Kingdom visible to all.
            Church)
        </p>
        <p>
            We are The Commons. The Commons for all.
        </p>
        -->
    </div>
    <div class="col-sm-6 no-pad mission-img hidden-xs">
        <div>
            <img src="{{ asset('bundles/thecommonshomepage/img/tc-logo-mark-gold.svg') }}"/>
        </div>
    </div>
</div>