<div class="row series-bg" id="sermons">
    <div class="col-sm-6 series-pane">
        <div class="row series-header">
            <div class="col-sm-6 no-pad">
                <div class="underline full">
                    <p class="header-text" id="sermon-title">
                        Sermon Series
                    </p>
                </div>
            </div>
            {#
            <div class="col-sm-6 no-pad text-right header-text">
                <a class="series-nav" href="#series-prev">
                    <i class="icon icon-angle-left"></i>
                </a>
                <a class="series-nav" href="#series-next">
                    <i class="icon icon-angle-right"></i>
                </a>
            </div>
            #}
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad text-center">
                <img class="series-name-img"
                     src="{{ asset('bundles/thecommonshomepage/img/tmp/503Youaskedforit/youaskedforit.png') }}"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="sermon-browser">
        <div class="header-text underline full invert">
            <p id="sermon-series-title">Loading Sermons...</p>
        </div>
    </div>
</div>