<div class="row" id="sermons">
    <div class="col-sm-6 series-bg">
        <div class="row series-header">
            <div class="col-sm-6 no-pad">
                <div class="underline white full">
                    <p class="header-text white-text">
                        Sermon Series
                    </p>
                </div>
            </div>
            <div class="col-sm-6 no-pad text-right header-text">
                <a class="series-nav" href="#series-prev">
                    <i class="icon icon-angle-left"></i>
                </a>
                <a class="series-nav" href="#series-next">
                    <i class="icon icon-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <img src="{{ asset('bundles/thecommonshomepage/img/tmp/Commons-EVOL-Title.png') }}"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6 invert-bg">
        <div class="header-text invert-text underline full invert">
            <p>
                EVOL: A Message Series at The Commons
            </p>
        </div>
        <div class="sermon">
            <div class="sermon-left">
                <div class="cal-icon">
                    <strong>Sep</strong>
                    <span>20</span>
                </div>
            </div>
            <div class="sermon-info">
                <div class="row">
                    <div class="title">
                        <p>
                            The Meaning of Marriage
                            <i class="icon-youtube-play"></i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                        Sermon by Jon Nichols. Scripture Reading: 1
                        Corinthians 7:27-40.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>