<div class="row" id="sundays">
    <div class="col-sm-6 qb-bg">
        <div class="underline">
            <p class="header-text">
                Our Gathering
            </p>
        </div>
        <p class="header-text">
            <i class="icon icon-commons-gathering"></i>
        </p>

        <p class="header-text">
            Sunday Gathering<br>
            10:30AM @ Queen Bee's
        </p>

        <p class="invert-text">
            <a
                    class="text-link"
                    href="https://www.google.com/maps/dir/Current+Location/3925+Ohio+St+San+Diego+CA+92104"
                    target="_blank">
                            <span>
                                3925 Ohio Street <i
                                        class="icon-angle-right"></i>
                            </span>
            </a>
        </p>

        <p class="invert-text">
            We are a casual, welcoming community. You can
            expect four elements every week that make up our
            Sunday gathering: Worship, Preaching, Prayer, and
            Communion.
        </p>

        <div class="qb-spacer"></div>
    </div>
    <div class="col-sm-6 invert-bg">
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-childrens"></i>

            <p class="header-inline">
                Children's Ministry & Nursery
            </p>
        </div>
        <p class="invert-text no-margin">
            Through singing, games, activities, arts, and
            crafts we hope to cultivate and encourage
            spiritual growth in your children. All childcare
            workers have been trained and have undergone
            background checks to ensure the safety of your
            child.
        </p>

        <div class="divider invert"></div>
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-staff"></i>

            <p class="header-inline">
                Staff
            </p>
        </div>
        <div class="row staff">
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="{{ asset('bundles/thecommonshomepage/img/staff/jon-nichols.jpg') }}"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Jon Nichols
                </p>

                <p class="staff-role">
                    Lead/Teaching Pastor
                </p>
            </div>
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="{{ asset('bundles/thecommonshomepage/img/staff/jeremey-glazier.jpg') }}"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Jeremey Glazier
                </p>

                <p class="staff-role">
                    Children's Director
                </p>
            </div>
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="{{ asset('bundles/thecommonshomepage/img/staff/face-blank.jpg') }}"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Ryan English
                </p>

                <p class="staff-role">
                    Worship Curator
                </p>
            </div>
        </div>
        <div class="divider invert"></div>
        <!--
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-community"></i>
            <p class="header-inline">
                Mid-week Community Group<br/>
                Wednesdays 7:00PM North Park
            </p>
        </div>
        -->
    </div>
</div>