{% extends 'TheCommons\CommonFolkBundle:Default:base.html.twig' %}

{% set title = ['Check Email'] %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock %}
