{% extends 'TheCommonsCommonFolkBundle:Person:new_edit.html.twig' %}

{% set show_all_fields = true %}

{% block body_header -%}
    <div class="page-header">
        <div class="pull-left">
            <h1>Edit Person</h1>
        </div>
        <div class="pull-right btn-header-sm">
            <div class="btn-group">
                <a class="btn btn-primary btn-sm" href="{{ path('person') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                {% include 'TheCommonsCommonFolkBundle:Person:delete.html.twig' %}
                <a class="btn btn-primary btn-sm" href="{{ path('person_new') }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{%- endblock %}

{% block body_footer -%}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update Person</button>
    </div>
{% endblock %}
