{% extends 'TheCommons\CommonFolkBundle:Default:base.html.twig' %}

{% set title = ['View Group'] %}

{% block body %}
<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
</div>
{% endblock %}
