body {
    width: 100%;
    height: 100%;
    padding: 0;
    color: #fff;
    background-color: #231f20;
    font-family: 'futura-pt', sans-serif;
    /*font-weight: 700;*//* heavy */
    font-size: 20px;
}

html {
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid > .row {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
}

.container-fluid > .row {
    height: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-sm-12 {
    height: 100%;
    padding: 5% 5% 2% 5%;
}

.col-sm-6 {
    height: 100%;
    padding: 5% 5% 2% 5%;
}

.col-sm-4 {
    height: 100%;
}

.half-row {
    height: 50%;
}

.no-margin {
    margin: 0;
}

.intro-bg {
    height: 100% !important;
    width: 100%;
    background: url(../img/np-15-x3.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-bg > .col-sm-12 {
    background: rgba(35, 31, 32, .3);
}

.qb-bg {
    background: url(../img/np-7-x3-tall.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
}

.qb-spacer {
    height: 320px;
}

.mission-img {
    display: table;
    table-layout: fixed;
}

.mission-img div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mission-img img {
    width: 50%;
    height: 50%;
}

.invert-bg {
    background-color: #fff;
}

.logo-tag-row {
    height: 100% !important;
    color: #d2ac2b;
    font-size: 18px;
    text-transform: uppercase;
    /* opacity: 0.2; */
}

.logo-img-row {
    height: 100% !important;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo-img-cell {
    height: 100%;
}

.logo-push {
    height: 30%;
}

.logo-img {
    width: 70%;
    height: 70%;
}

.logo-tag-cell {
    height: 100%;
}

.underline {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    border-color: #d2ac2b;
}

.underline.full {
    width: 100%;
}

.underline.invert {
    border-color: #231f20;
}

.underline.white {
    border-color: #fff;
}

.divider {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    border-color: #d2ac2b;
}

.divider.invert {
    border-color: #231f20;
}

.header-text {
    font-size: 20px;
    color: #d2ac2b;
    text-transform: uppercase;
    font-weight: 700;/* heavy */
    vertical-align: middle;
}

.hero-text {
    font-size: 60px;
    color: #d2ac2b;
    text-transform: uppercase;
    font-weight: 700; /* heavy */
    vertical-align: middle;
}

.header-inline {
    display: inline-block;
    vertical-align: middle;
}

.invert-text {
    color: #231f20;
}

.middle-parent {
    display: table;
    table-layout: fixed;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

p {
    font-size: 20px;
}

a.text-link {
    color: #fff;
    text-decoration: underline;
}

.invert-text a.text-link {
    color: #231f20;
}

a.text-link > span {
    display: inline-block;
    border-bottom: 1px solid black;
}

.mission-text {
    font-size: 20px;
    font-weight: 700; /* heavy */
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    color: #c49a6c;
}

.mission-text-top {
    padding-top: 5%;
}

.mission-text-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    width: 100%;
}

.icon {
    font-size: 30px;
}

.icon-inline {
    display: inline-block;
    margin-right: 10px;
}

.row.staff {
    height: auto !important;
}

.staff-col {
    padding-left: 0;
    padding-right: 15px;
}

.staff-img {
    margin-bottom: 15px;
}

.staff-name {
    color: #231f20;
    font-weight: 700; /* heavy */
    font-size: 16px;
    margin-bottom: 0;
}

.staff-role {
    color: #231f20;
    font-size: 16px;
    font-style: italic;
}

/* MISSION */

#mission .body-text {
    margin-bottom: 30px;
}

.series-nav {
    color: #FFF;
}

.series-bg {
    background: url(../img/tmp/Commons-EVOL-BG.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.series-header.row {
    height: auto;
}

/* sermon listings */

.sermon {
    margin-bottom: 30px;
    display: table;
}

.sermon .sermon-left {
    display: table-cell;
    width: 60px;
    height: 100%;
    vertical-align: middle;
}

.sermon .sermon-info {
    display: table-cell;
}

.sermon .sermon-info .row p {
    text-transform: uppercase;
    font-weight: 700; /* heavy */
    font-size: 16px;
}

.sermon .title {
    color: #d2ac2b;
}

.sermon .title i {
    font-size: 20px;
}

.sermon .description {
    color: #231f20;
    font-size: 16px;
}

.sermon .cal-icon {
    display: block;
    position: relative;
    width: 48px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    /*box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;*/
    box-shadow: 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

.sermon .cal-icon * {
    display: block;
    width: 100%;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.sermon .cal-icon strong {
    position: absolute;
    top: 0;
    padding: 0;
    height: 18px;
    color: #fff;
    background-color: #d2ac2b;
    /*border-bottom: 1px dashed #f37302;*/
    box-shadow: 0 2px 0 #d2ac2b;
    font-size: 15px;
}

.sermon .cal-icon span {
    font-size: 25px;
    letter-spacing: -0.05em;
    padding-top: 18px;
    color: #2f2f2f;
}

#footer {
    min-height: 200px;
    height: 200px;
    background-color: #d2ac2b;
}

#footer > .col-left,
#footer > .col-middle,
#footer > .col-right {
    padding-top: 34px;
    padding-bottom: 34px;
}

#footer > .col-left {
    text-align: left;
    padding-left: 5%;
}

#footer > .col-middle {
    text-align: center;
}

#footer > .col-right {
    text-align: right;
    padding-right: 5%;
}

/* hax to get p elements to be v-align middle */
#footer > .col-sm-4 > .row {
    width: 100%;
    height: 33px;
    display: table;
    table-layout: fixed;
}
#footer > .col-sm-4 > .row > p {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

#footer > .col-middle img {
    height: 132px;
    max-height: 132px;
}

#footer > .col-sm-4 a,
#footer > .col-sm-4 a:hover,
#footer > .col-sm-4 a:visited,
#footer > .col-sm-4 a:focus,
#footer > .col-sm-4 p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}

.paypal-footer {
    vertical-align: middle;
}

.paypal-methods {
    width: 160px;
}

#amor {
    background: url(../img/amor/amor-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
}

#amor p {
    color: #d2ac2b;
}

#amor .blurb {
    margin-top: 0;
}

#amor .video {
    padding: 0 0 35px 0;
}

#amor .btn {
    -webkit-appearance: none;
    border-radius: 0;

    border: 0;
    background-color: #d2ac2b;
    /*background-color: #fff;*/
    color: #231f20;

    margin: 0;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700; /* heavy */

    height: 50px;
    width: 100%;
    max-width: 200px;
}

#amor .btn-desc {
    padding-top: 10px;
    margin-bottom: 0;
}

#amor .info-grid .row:last-child {
    padding-top: 35px;
}

#amor .info-grid .col-sm-6 {
    padding: 0 10px 35px 10px;
}

#amor .info-row {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#amor .info-grid .header-text {
    margin-bottom: 10px;
}

#amor .info-grid p {
    font-size: 15px;
}

#amor .info-grid a  {
    font-size: 15px;
    color: #d2ac2b;
    text-decoration: underline;
    border: 0;
    background: none;
}

/* same-height columns */
/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
}

.row-xs-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }

    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }

    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }

    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* END same-height columns */

@media (min-width: 768px) {
    .container-fluid > .row {
        min-height: 100%;
        height: 100%;
    }

    .intro-bg {
        padding-top: 0 !important;
    }

    .logo-img {
        width: 45%;
        height: 45%;
    }

    .logo-tag-row {
        height: 10% !important;
    }

    .logo-img-row {
        height: 80% !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .underline {
        width: 50%;
    }

    .divider {
        width: 50%;
    }

    .no-pad {
        padding: 0;
    }

    #amor .info-grid .row:first-child .col-sm-6:after {
        content: "";
        background-color: #d2ac2b;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%;
        height: 2px;
    }
}