{% extends 'HopeChurchGreaterBundle:Default:base.html.twig' %}

{% block body %}
<div class="page-header">
  <h1>Add Things</h1>
</div>

<ul>
  <li><a href="{{ path(route, {'page': 'add', 'subpage': 'person'}) }}">Add a new person</a></li>
  <li><a href="#">Add a new Community Group</a> <small>(coming soon...)</small></li>
</ul>

{% endblock %}
