{% extends 'HopeChurchGreaterBundle:Default:base.html.twig' %}

{% block body %}
<table class="table table-bordered table-striped">
  <!-- this will all be replaced by dynamic content -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Visit</th>
      <th># Visits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alistair King</td>
      <td>24 Mar 2013</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Alistair King</td>
      <td>24 Mar 2013</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Alistair King</td>
      <td>24 Mar 2013</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Alistair King</td>
      <td>24 Mar 2013</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Alistair King</td>
      <td>24 Mar 2013</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
{% endblock %}
