
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {%- if title is defined -%}
        {%- for element in title -%}
          {{ element|title }} &middot;
        {% endfor -%}
      {%- endif -%}
      Common Folk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alistair King">

    {% block styleblock %}
    {% stylesheets
    'bundles/thecommonscommonfolk/libs/bootstrap/css/bootstrap-journal.min.css'
    '@TheCommonsCommonFolkBundle/Resources/public/css/base.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

    <script type="text/javascript">
      {% block head_js %}{% endblock %}
    </script>
  </head>

  <body>
    {% spaceless %}
    {{
    knp_menu_render(
      'topNav',
      {'template': 'TheCommonsCommonFolkBundle:Menu:topnav.html.twig'}
    )
    }}
    {% endspaceless %}

    <div class="container">
      <div class="row">
	<div class="col-xs-12">
	  {% block body %}{% endblock %}
	</div>
      </div>
    </div>
</div>

{% block jsblock %}
{% javascripts
'bundles/thecommonscommonfolk/libs/jquery/js/jquery-1.9.1.min.js'
'bundles/thecommonscommonfolk/libs/bootstrap/js/bootstrap.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>
