<!DOCTYPE html>
<html>
<head>
    <title>The Commons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
          rel="stylesheet" media="screen">

    {% block styleblock %}
        {% stylesheets
        'bundles/thecommonshomepage/libs/fontello/css/thecommons.css'
        'bundles/thecommonshomepage/css/thecommons-sidebar.css'
        'bundles/thecommonshomepage/css/thecommons.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <script src="//use.typekit.net/cjj0xte.js"></script>
    <script>try {
            Typekit.load();
        } catch (e) {
        }</script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body>

<div class="tc-topbar visible-xs text-right">
    <div class="tc-sidebar-toggle">
        <span class="tc-sidebar-toggle-icon glyphicon glyphicon-menu-hamburger"></span>
    </div>
</div>
<div class="tc-topbar-pad visible-xs"></div>
<div class="tc-sidebar tc-sidebar-hidden">
    <ul class="nav nav-pills nav-stacked">
        <li class="brand">
            <a href="#home">
                <div class="icon">
                    <i class="icon-commons-logo-mark"></i>
                </div>
                <div class="text">
                    <i class="icon-commons-logo-horizontal"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#sundays">
                <div class="icon">
                    <i class="icon icon-commons-gathering"></i>
                </div>
                <div class="text">
                    Our Gathering
                </div>
            </a>
        </li>
        <li>
            <a href="#mission">
                <div class="icon">
                    <i class="icon icon-commons-mission"></i>
                </div>
                <div class="text">
                    Our Mission
                </div>
            </a>
        </li>
        <li>
            <a href="#amor">
                <div class="icon">
                    <span class="glyphicon glyphicon-tent"></span>
                </div>
                <div class="text">
                    Amor Trip
                </div>
            </a>
        </li>
        <li>
            <a href="#sermons">
                <div class="icon">
                    <i class="icon icon-commons-sermons"></i>
                </div>
                <div class="text">
                    Sermons
                </div>
            </a>
        </li>
        <li>
            <a href="#give" data-toggle="modal">
                <div class="icon">
                    <i class="icon icon-commons-giving"></i>
                </div>
                <div class="text">
                    Give Online
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="container-fluid">
<div class="row intro-bg" id="home">
    <div class="col-sm-12 no-pad">
        <div class="row logo-tag-row hidden-xs">
            <div class="col-sm-6 logo-tag-cell no-pad">
                <p class="mission-text mission-text-top">
                    Proclaim the Cross
                </p>
            </div>
            <div class="col-sm-6 text-right no-pad">
                <p class="mission-text mission-text-top text-right">
                    Join the Movement
                </p>
            </div>
        </div>
        <div class="row logo-img-row">
            <div class="col-sm-12 logo-img-cell
                        text-center no-pad middle-parent">
                <div class="middle">
                    <img class="logo-img"
                         src="img/tc-logo-gold.svg"/>
                </div>
            </div>
        </div>
        <div class="row logo-tag-row hidden-xs">
            <div class="col-sm-6 logo-tag-cell no-pad">
                <p class="mission-text mission-text-bottom">
                    Cultivate Disciples
                </p>
            </div>
            <div class="col-sm-6 text-right logo-tag-cell no-pad">
                <p class="mission-text mission-text-bottom text-right">
                    Embrace the Oppressed
                </p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" id="sundays">
    <div class="col-sm-6 qb-bg">
        <div class="underline">
            <p class="header-text">
                Our Gathering
            </p>
        </div>
        <p class="header-text">
            <i class="icon icon-commons-gathering"></i>
        </p>

        <p class="header-text">
            Sunday Gathering<br>
            10:30AM @ Queen Bee's
        </p>

        <p class="invert-text">
            <a
                    class="text-link"
                    href="https://www.google.com/maps/dir/Current+Location/3925+Ohio+St+San+Diego+CA+92104"
                    target="_blank">
                            <span>
                                3925 Ohio Street <i
                                        class="icon-angle-right"></i>
                            </span>
            </a>
        </p>

        <p class="invert-text">
            We are a casual, welcoming community. You can
            expect four elements every week that make up our
            Sunday gathering: Worship, Preaching, Prayer, and
            Communion.
        </p>

        <div class="qb-spacer"></div>
    </div>
    <div class="col-sm-6 invert-bg">
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-childrens"></i>

            <p class="header-inline">
                Children's Ministry & Nursery
            </p>
        </div>
        <p class="invert-text no-margin">
            Through singing, games, activities, arts, and
            crafts we hope to cultivate and encourage
            spiritual growth in your children. All childcare
            workers have been trained and have undergone
            background checks to ensure the safety of your
            child.
        </p>

        <div class="divider invert"></div>
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-staff"></i>

            <p class="header-inline">
                Staff
            </p>
        </div>
        <div class="row staff">
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="img/staff/jon-nichols.jpg"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Jon Nichols
                </p>

                <p class="staff-role">
                    Lead/Teaching Pastor
                </p>
            </div>
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="img/staff/jeremey-glazier.jpg"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Jeremey Glazier
                </p>

                <p class="staff-role">
                    Children's Director
                </p>
            </div>
            <div class="col-sm-4 staff-col">
                <div class="staff-img">
                    <img src="img/staff/face-blank.jpg"
                         class="img-responsive">
                </div>
                <p class="staff-name">
                    Ryan English
                </p>

                <p class="staff-role">
                    Worship Curator
                </p>
            </div>
        </div>
        <div class="divider invert"></div>
        <!--
        <div class="header-text invert-text">
            <i class="icon icon-inline icon-commons-community"></i>
            <p class="header-inline">
                Mid-week Community Group<br/>
                Wednesdays 7:00PM North Park
            </p>
        </div>
        -->
    </div>
</div>
<div class="clearfix"></div>
<div class="row" id="mission">
    <div class="col-sm-6">
        <p class="header-text">
            <i class="icon icon-commons-mission">
            </i>
        </p>

        <p class="header-text">
            Our Mission
        </p>

        <p class="body-text">
            The Commons is a community conspiring to proclaim
            the cross, working to cultivate disciples, embracing
            the oppressed, and inviting you to join the
            movement.
        </p>

        <p class="header-text">
            Our History
        </p>

        <p class="body-text">
            The Commons (formerly Hope Church North Park) began
            in 2011 with just a few people meeting in a living
            room. We were passionate about Jesus and
            passionate about seeing local, kingdom oriented,
            churches planted. So, with the help and support
            of another San Diego church that shared our
            vision, we began meeting publicly in 2012.
            Since then, we have continued to grow
            by establishing Elders and baptizing new
            disciples as we persist in serving our community
            and inviting all to join God's movement.
        </p>
        <!--
        <p class="header-text">
            Why are we called The Commons?
        </p>
        <p>
            It was a mark of the church for people to hold their
            lives and their possessions in common. We read one
            examples of this in the book of Acts. There is even
            this tradition within the history of the Church for
            naming something for all people, a "common." (Common
            Book of Prayer, Common Bible, Common Text of the
            Church)
        </p>
        <p>
            Therefore, we wanted to select a name for our
            community that not only spoke to our mission, our
            identity in Christ, but also one that had historical
            significance.
            Church)
        </p>
        <p>
            For something to be "common" was not to be ordinary,
            but to belong to the people. For something to be a
            "commons" was to represent a common space or
            resource that was of the people.
            Church)
        </p>
        <p>
            Now, our culture has lost the language and meaning
            of a "commons." Physical space and common resources
            are increasingly quantified and commercialized. We
            might not call them "commons", yet, parks, beaches,
            playgrounds, public utilities and public
            transportation systems, libraries, museums, and
            schools are all "commons."
            Church)
        </p>
        <p>
            The church is a commons. The church is not a private
            enterprise, but a public work. The church is the
            Body of Christ, its work is to witness to the Cross,
            and its worship is the work of the people. The
            church is not a private good to be packaged and
            sold. The church is not a commodity, or institution.
            The church is collective, a band of natural enemies
            not held together not by common race, education,
            income, or politics. The church is a band of natural
            enemies saved by Jesus, owing Jesus a common
            allegiance.
            Church)
        </p>
        <p>
            Christ, his broken body and shed blood, is at the
            center of all we do together. We gather because we
            hold a common allegiance to Christ. We gather for
            the common work of making Christ, His Cross, and His
            Kingdom visible to all.
            Church)
        </p>
        <p>
            We are The Commons. The Commons for all.
        </p>
        -->
    </div>
    <div class="col-sm-6 no-pad mission-img hidden-xs">
        <div>
            <img src="img/tc-logo-mark-gold.svg"/>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" id="amor">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-text text-center">
                April 17 &middot; 18 &middot; 19
            </div>
            <div class="hero-text text-center">
                Come Build Hope With Us
            </div>
            <p class="blurb text-center">
                The Commons is partnering with Amor Ministries to build a home
                in Tijuana for a family in need.
            </p>

            <div id="amor-signup-form" class="text-center">
                <div id="amor-form-alert">This is an error</div>
                <div class="form-inline">
                    <input type="text" class="form-control"
                           id="amor-nameFirst" name="amor-nameFirst"
                           placeholder="First Name" required="required">
                    <input type="text" class="form-control"
                           id="amor-nameLast" name="amor-nameLast"
                           placeholder="Last Name" required="required">
                    <input type="email" class="form-control"
                           id="amor-email" name="amor-email"
                           placeholder="Email Address">
                    <input type="tel" class="form-control"
                           id="amor-phone" name="amor-phone"
                           placeholder="Phone Number">
                </div>
                <div class="form-inline">
                    <button type="submit" class="btn btn-default"
                            id="amor-signup-btn">
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="row info-row row-same-height">
                <div class="col-sm-3 col-sm-height text-center">
                    <div class="header-text">
                        Release Forms
                    </div>
                    <p>
                        Completed and signed medical
                        and liability release forms
                        are required for every individual
                        attending.
                    </p>

                    <p>
                        <a href="docs/amor-2014/TC_Release_Form.pdf"
                           target="_blank">
                            Download Release Form
                        </a>
                    </p>
                </div>
                <div class="col-sm-3 col-sm-height text-center">
                    <div class="header-text">
                        Trip Details
                    </div>
                    <p>
                        Two night stay at campground and Three days of
                        ministry. Fri. April 17 through Sun April 19.
                        <br>$125 per person.
                    </p>

                    <form action="https://www.paypal.com/cgi-bin/webscr"
                          method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id"
                               value="4DL6V2ASK9ERL">
                        <button type="submit">
                            Pay Online
                        </button>
                    </form>
                </div>
                <div class="col-sm-3 col-sm-height text-center">
                    <div class="header-text">
                        What's Included?
                    </div>
                    <p>
                        Three meals a day & snacks<br>
                        Clean water<br>
                        Transportation<br>
                        Tools for construction
                    </p>

                    <p>
                        <a href="http://www.amor.org" target="_blank">
                            Visit amor.org to learn more
                        </a>
                    </p>
                </div>
                <div class="col-sm-3 col-sm-height text-center">
                    <div class="header-text">
                        Required Items
                    </div>
                    <p>
                        Tent<br>
                        Sleeping bag<br>
                        Passport/passport card<br>
                        Extra snacks and bottle for water
                    </p>

                    <p>
                        <a href="docs/amor-2014/Mexico_Packg_List.pdf"
                           target="_blank">
                            Download Packing List
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" id="sermons">
    <div class="col-sm-6 series-bg">
        <div class="row series-header">
            <div class="col-sm-6 no-pad">
                <div class="underline white full">
                    <p class="header-text white-text">
                        Sermon Series
                    </p>
                </div>
            </div>
            <div class="col-sm-6 no-pad text-right header-text">
                <a class="series-nav" href="#series-prev">
                    <i class="icon icon-angle-left"></i>
                </a>
                <a class="series-nav" href="#series-next">
                    <i class="icon icon-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <img src="img/tmp/Commons-EVOL-Title.png"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6 invert-bg">
        <div class="header-text invert-text underline full invert">
            <p>
                EVOL: A Message Series at The Commons
            </p>
        </div>
        <div class="sermon">
            <div class="sermon-left">
                <div class="cal-icon">
                    <strong>Sep</strong>
                    <span>20</span>
                </div>
            </div>
            <div class="sermon-info">
                <div class="row">
                    <div class="title">
                        <p>
                            The Meaning of Marriage
                            <i class="icon-youtube-play"></i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                        Sermon by Jon Nichols. Scripture Reading: 1
                        Corinthians 7:27-40.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="footer">
    <div class="col-sm-4 col-left">
        <div class="row">
            <a class="header-text"
               href="http://www.facebook.com/thecommonsforall"
               target="_blank">
                <i class="icon-facebook-squared"></i>
                Facebook
            </a>
        </div>
        <div class="row">
            <a class="header-text" href="http://vimeo.com/thecommonsforall"
               target="_blank">
                <i class="icon-vimeo-squared"></i>
                Vimeo
            </a>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <a class="header-text" href="mailto:info@thecommonsforall.com"
               target="_blank">
                <i class="icon-mail-squared"></i>
                info@thecommonsforall.com
            </a>
        </div>
    </div>
    <div class="col-sm-4 col-middle hidden-xs">
        <div>
            <img src="img/tc-logo.svg"/>
        </div>
    </div>
    <div class="col-sm-4 col-right hidden-xs">
        <div class="row">
            <p class="header-text">
                Proclaim The Cross
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Cultivate Disciples
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Join the Movement
            </p>
        </div>
        <div class="row">
            <p class="header-text">
                Embrace the Oppressed
            </p>
        </div>
    </div>
</div>
</div>
</div>

<div id="give" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header-text">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Give Online</h4>
            </div>
            <div class="modal-body invert-text">
                <p>God doesn't need our money. What he's truly after is us.
                    Yet, how we use money is a very accurate indicator of
                    where our heart is and what we value. Jesus said, "Where
                    your
                    treasure is, there your heart will be also" (Matthew 6:21).
                    Giving is an act of worship and an act of commitment; to
                    the community of believers, and those in need.</p>

                <form action="https://www.paypal.com/cgi-bin/webscr"
                      method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id"
                           value="8R6U9JME5YUEY">
                    <button class="btn btn-lg btn-warning" type="submit">
                        Give via PayPal
                    </button>
                </form>

                <p class="small paypal-footer">
                    You do not need a PayPal account to give online
                    today. You can securely give via PayPal using
                    <img src="img/AM_mc_vs_dc_ae.jpg" class="paypal-methods">
                </p>
            </div>
        </div>
    </div>
</div>

{% block jsblock %}
    {% javascripts
    'bundles/thecommonshomepage/js/thecommons.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endjavascripts %}
{% endblock %}
</body>

</html>