<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
AuthUserFile /home/wearethecommons/htaccess/thecommonsforall.com.htpasswd
AuthGroupFile /dev/null
AuthName "TheCommonsForAll - Testing"
AuthType Basic

require valid-user
